.navbar_fixed {
    padding-top: 70px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 3px;
  width: auto;
}

.container-full-width {
    width: 90% !important;
}

td > textarea {
    width: 250px;
}

.btn-img {
    width: 24px;
}
