{% load static %}
{% load bootstrap3 %}
{% load account %}
{% url 'index' as home_url %}
{% url 'members' as members_url %}
{% url 'about' as about_url %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="X.Org Foundation Membership">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>X.Org Foundation Membership</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/gui.css' %}">
  </head>

  <body class="navbar_fixed">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container container-full-width">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{home_url}}"><img src="{% static 'images/logo.png' %}" /> </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if request.path == home_url %}class="active"{% endif %}><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}<li {% if request.path == members_url %}class="active"{% endif %}><a href="{% url 'members' %}">Members</a></li>{% endif %}
            <li {% if request.path == about_url %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_superuser %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="badge">{{admin_tasks_count}}</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'membership-approval' %}">Approve memberships <span class="badge">{{admin_tasks_count}}</span></a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'membership-period-create' %}">Create new period</a></li>
                            <li><a href="#">Create new vote</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'admin:index' %}">Full Admin</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% user_display user %}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'account-profile' %}">Your Profile</a></li>
                            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                            <li><a href="{% url 'socialaccount_connections' %}">Auth providers</a></li>
                            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Sign In</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
      </div>
    </nav>

    <div class="container container-full-width main_body container-fluid">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </div>

    <footer class="small text-muted text-center">
            Generated on the {% now "jS F Y H:i:s" %} (UTC). <a href="{% url "about" %}">Contact</a>.
        </footer>
  </body>
</html>
