{% extends 'gui/base.html' %}

{% load bootstrap3 %}

{% block content %}
    <h1>Membership Period - Create</h1>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary pull-right">
            Save
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
