{% extends 'gui/base.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Current membership applications ({{admin_tasks_count}})</div>
                <div class="panel-body">
                    <form id="form" action="" method="post">
                        {% csrf_token %}
                        <table class="table table-condensed table-striped table-hover table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Period</th>
                                    <th>User name</th>
                                    <th>Public Statement</th>
                                    <th>Rejection reason</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for application in object_list %}
                                    <tr>
                                        <td><input type="radio" name="ids" value="{{application.id}}" /></td>
                                        <td>{{application.period.short_name}}</td>
                                        <td>{{application.user_profile}}</td>
                                        <td>{{application.user_profile.public_statement|linebreaks}}</td>
                                        <td><textarea name="reject_reason_{{application.id}}" rows="5"></textarea></td>
                                    </tr>
                                {% empty %}
                                    <tr><td colspan="5" class="text-center">No membership applications pending</td></li>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% buttons %}
                            <button type="submit" name="action" value="reject" class="btn btn-danger pull-left">Reject</button>
                            <button type="submit" name="action" value="approve" class="btn btn-primary pull-right">Approve</button>
                        {% endbuttons %}

                        <center>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
