{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">{% trans "Sign In" %}</div>
                <div class="panel-body">
                    {% if socialaccount_providers %}
                    <p>Please sign in with one
                    of your existing third party accounts:</p>

                    <div class="socialaccount_ballot">

                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}

                    <div class="login-or"> Or, <a href="{{ signup_url }}">sign up</a>
                    for a {{ site_name }} account and sign in below:</p></div>

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}

                    {% else %}
                    <p>{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                    {% endif %}

                    <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    {% buttons %}
                        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                    {% endbuttons %}
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
